.header 
  .container.header__wrap 
    .burger 
      img(src="./img/burger.svg", alt="")
    a.logo(href="index.html")
      img(src="./img/logo.svg", alt="")
    .prize 
      .prize__pic
        img(src="./img/prize.webp", alt="") 
      p.prize__text Клиника года в номинации «Народный выбор»
    .socials 
      a.socials__link.--vk(href="#")
        img(src="./img/vk.svg", alt="") 
      a.socials__link.--tm(href="#")
        img(src="./img/tm.svg", alt="") 
      a.socials__link.--yt(href="#")
        img(src="./img/yt.svg", alt="")
    .header__contact 
      .header__contact-name 4 клиники в Москве
      a.header__contact-link(href="#map") Схема проезда и контакты
    .header__contact 
      .header__contact-name +7 495 324-88-45
      a.header__contact-link(href="#map") Заказать обратный звонок
    .header__btn 
      button.btn.btn--orange.btn--small 
        span Записаться
    a.phone(href="tel:84953248845") 
      img(src="./img/phone.svg", alt="")
  //- nav.container.nav
  //-   a.nav__link(href="#") О технологии All-on-4
  //-   a.nav__link(href="#") Фото до и после
  //-   a.nav__link(href="#") Контроль качества
  //-   a.nav__link(href="#") Цены
  //-   a.nav__link(href="#") Команда врачей
  //-   a.nav__link(href="#") О клинике
  //-   a.nav__link(href="#") Гарантия
  //-   a.nav__link(href="#") Контакты
.mobile-nav
  .mobile-nav__header 
    .close-menu 
      img(src="./img/menu-close.svg", alt="")
    a.logo(href="index.html")
      img(src="./img/logo-black.svg", alt="")
    a.phone(href="tel:84953248845") 
      img(src="./img/phone-menu.svg", alt="")
  .nav
    a.nav__link(href="#") О технологии All-on-4
    a.nav__link.active(href="#") Фото до и после
    a.nav__link(href="#") Контроль качества
    a.nav__link(href="#") Цены
    a.nav__link(href="#") Команда врачей
    a.nav__link(href="#") О клинике
    a.nav__link(href="#") Гарантия
    a.nav__link(href="#") Контакты
  .prize 
    .prize__pic
      img(src="./img/prize.webp", alt="") 
    p.prize__text-mobile Клиника года в номинации «Народный выбор»
  .header__contact 
      .header__contact-name 4 клиники в Москве
      a.header__contact-link(href="#map") Схема проезда и контакты
  .header__contact 
    .header__contact-name +7 495 324-88-45
    a.header__contact-link(href="#map") Заказать обратный звонок
  .header__btn 
    button.btn.btn--orange
      span Забронировать цену
  
