extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная"

block content
	main.content 
		include ../blocks/modules/header/header
		section.main
			.container
				h1.h1.main__title
					p.text-gradient НОВЫЕ ЗУБЫ
					p за 1 день
				.main-switch
					.main__description 
						.main__description-pic
							img(src="./img/fire.svg", alt="")
						p.main__description-text Безупречное качество <br>по самой низкой цене в Москве
					.main__price 
						.main__summ 179 900 ₽
						.main__price-description 
							.main__price-pic
								img(src="./img/jaw.webp", alt="")
							.main__price-text Цена указана <span>за одну челюсть</span>
				.main__btns 
					button.btn.btn--orange 
						span Забронировать цену
					button.btn.btn--dark 
						span Нашли дешевле?
				.main__list 
					a.main__item(href="#") 
						.main__item-title БЕЗУПРЕЧНАЯ РЕПУТАЦИЯ
						.main__item-text Более 300+ видеоотзывов пациентов
					a.main__item(href="#") 
						.main__item-title ЛУЧШИЕ СПЕЦИАЛИСТЫ
						.main__item-text Средний опыт наших врачей — 15 лет
					a.main__item(href="#") 
						.main__item-title ЧЕСТНЫЕ ЦЕНЫ ПОД КЛЮЧ
						.main__item-text Без рекламных уловок и скрытых платежей
					a.main__scroll(href="#reports") 
						img(src="./img/scroll.svg", alt="")
		section.main.main--new
			.container
				h1.h1.main__title
					p.text-gradient НОВЫЕ ЗУБЫ
					p за 1 день
				.main-switch
					.main__description 
						.main__description-pic
							img(src="./img/fire.svg", alt="")
						p.main__description-text Безупречное качество <br>по самой низкой цене в Москве
					.main__price 
						.main__summ 179 900 ₽
						.main__price-description 
							.main__price-pic
								img(src="./img/jaw.webp", alt="")
							.main__price-text Цена указана <span>за одну челюсть</span>
				.main__btns 
					button.btn.btn--orange 
						span Забронировать цену
					button.btn.btn--dark 
						span Нашли дешевле?
				.main__list 
					a.main__item(href="#") 
						.main__item-title БЕЗУПРЕЧНАЯ РЕПУТАЦИЯ
						.main__item-text Более 300+ видеоотзывов пациентов
					a.main__item(href="#") 
						.main__item-title ЛУЧШИЕ СПЕЦИАЛИСТЫ
						.main__item-text Средний опыт наших врачей — 15 лет
					a.main__item(href="#") 
						.main__item-title ЧЕСТНЫЕ ЦЕНЫ ПОД КЛЮЧ
						.main__item-text Без рекламных уловок и скрытых платежей
					a.main__scroll(href="#reports") 
						img(src="./img/scroll.svg", alt="")
		section.production
			.container 
				.production__title 
					h2.h2 <span>Научное</span> зуботехническое производство
					.winner__text Делаем 5000+ протезов ежегодно в собственной цифровой  лаборатории
				.production__slider 
					.swiper-wrapper
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
						.swiper-slide(style="background: url(./img/poduction/1.webp) no-repeat center / cover")
					.production__pagintaion
						.production__pagintaion-line
					.swiper-pagination
					.production__nav 
						.prev-circle.nav-circle
							<svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.9338 1.5L2.03428 11.3995L11.9338 21.299"/>
							</svg>
						.next-circle.nav-circle
							<svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.9338 1.5L2.03428 11.3995L11.9338 21.299"/>
							</svg>
		section.what-prod
			.what-prod__top 
				.container 
					h2.h2.title--center Нашему <span>производству 8 лет</span>
					.contacts__list 
						.contact 
							.contact__pic
								img(data-src="./img/prod-1.svg" src="", alt="")
							.contact__title Повысили качество
							.contact__text Производим протезы стабильно высокого качества благодаря автоматизации
						.contact 
							.contact__pic
								img(data-src="./img/prod-2.svg" src="", alt="")
							.contact__title Снизили стоимость
							.contact__text  цена протезирования на имплантах «под ключ» дешевле, чем в других клиниках, примерно на 20%
						.contact 
							.contact__pic
								img(data-src="./img/prod-3.svg" src="", alt="")
							.contact__title Сократили сроки
							.contact__text Мы быстрее на 5-7 дней, благодаря отсутствию сторонних заказов и цифровому планированию 
			.what-prod__bottom
				.container
					.what-prod__left
						.what-prod__doctor 
							.what-prod__name Игошин Евгений Андреевич
							.what-prod__work Директор зуботехнического производства
					.what-prod__right
						.what-prod__title Зуботехническое отделение — полностью <span>автоматизировано</span> и все <span>процессы оцифрованы</span>
						.what-prod__description Сегодня мы имеем стабильно высокое качество, снизили конечную стоимость протезов и бонусом получили дополнительные инструменты контроля качества
		section.report-clients 
			.container 
				.report-clients__title
					h2.h2 Улыбки пациентов —  <span>лучшая награда</span> 
					.winner__text Мы восстановили зубы <br>5000+ пациентам <br>методом All-on-4 с 2012 года
				.report-clients__buttons 
					.report-clients__button.-is-active 
						.report-clients__photo
							.report-clients__photo-pic(style="background: url(../img/reports-btn-pic.webp) no-repeat center / cover") 
						.report-clients__info 
							.report-clients__name Кристина Анатольевна
							.report-clients__text Преображение после 11 лет мучений со съемными протезами
					.report-clients__button 
						.report-clients__photo
							.report-clients__photo-pic(style="background: url(../img/reports-btn-pic.webp) no-repeat center / cover")  
						.report-clients__info 
							.report-clients__name Кристина Анатольевна
							.report-clients__text Преображение после 11 лет мучений со съемными протезами
					.report-clients__button 
						.report-clients__photo
							.report-clients__photo-pic(style="background: url(../img/reports-btn-pic.webp) no-repeat center / cover") 
						.report-clients__info 
							.report-clients__name Кристина Анатольевна
							.report-clients__text Преображение после 11 лет мучений со съемными протезами
				.report-clients__tabs 
					.report-clients__tab.-is-active 
						.report-client
							.report-client__left
								.report-client__title Теперь я <span>выгляжу на 10 лет моложе</span> и не стесняюсь улыбаться!
								.report-client__icons 
									.report-client__icon
										.report-client__icon-pic
											img(src="./img/rub.svg", alt="")
										.report-client__icon-info
											.report-client__icon-title Цена
											.report-client__icon-name 179 900 ₽
									.report-client__icon
										.report-client__icon-pic
											img(src="./img/flag.svg", alt="")
										.report-client__icon-info
											.report-client__icon-title система
											.report-client__icon-name Osstem
								.report-client__problem
									p Проблема
									span Полное отсутствие зубов на верхней и нижней челюсти
								.report-client__photos 
									a.report-client__photo(style="background: url(../img/rep-photo.png) no-repeat center / cover")
										.report-client__photo-tag до
										.report-client__photo-trigger 
											img(src="./img/see.svg", alt="")
									a.report-client__photo(style="background: url(../img/rep-photo.png) no-repeat center / cover")
										.report-client__photo-tag до
										.report-client__photo-trigger 
											img(src="./img/see.svg", alt="")
									button.btn.btn--orange.btn--white
										span У меня похожий случай
							.report-client__right
		section.news 
			.container 
				h2.h2.news__title Дантистофф в СМИ
				.news__list 
					.news__item
						.news__item-wrap
							.news__img 
								img(src="./img/news/1.svg", alt="")
							.news__text Свободная Пресса о сети <br>научных клиник Дантистофф
					.news__item
						.news__item-wrap
							.news__img 
								img(src="./img/news/2.svg", alt="")
							.news__text Научная стоматология <br>Дантистофф на Россия24
					.news__item
						.news__item-wrap
							.news__img 
								img(src="./img/news/3.svg", alt="")
							.news__text Вечерняя Москва о сети <br>научных клиник Дантистофф
					.news__item.news__item--50
						.news__item-wrap
							.news__img 
								img(src="./img/news/4.svg", alt="")
							.news__text Интернет-издание Комсомольская <br>правда о сети научных клиник Дантистофф
					.news__item.news__item--50.news__item--strem
						.news__item-wrap
							.news__img 
								img(src="./img/news/5.webp", alt="")
							.news__text Свободная Пресса о сети <br>научных клиник Дантистофф
							button.btn.btn--dark.btn--small 
								span Смотреть на Youtube
		section.rating 
			.container 
				.rating__title 
					h2.h2 Рейтинг <br> <span>на площадках </span>
					.rating__title-img 
						img(src="./img/raiting.svg", alt="")
				.rating__list 
					.rating__item 
						.rating__pic
							img(src="./img/r-1.svg", alt="")
						.rating__numbers 
							span 5
							span из 5
						.rating__stars 
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
						.rating__summ 1 256 отзывов
					.rating__item 
						.rating__pic
							img(src="./img/r-1.svg", alt="")
						.rating__numbers 
							span 4,9
							span из 5
						.rating__stars 
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
						.rating__summ 1 256 отзывов
					.rating__item 
						.rating__pic
							img(src="./img/r-1.svg", alt="")
						.rating__numbers 
							span 4,9
							span из 5
						.rating__stars 
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
						.rating__summ 1 256 отзывов
					.rating__item 
						.rating__pic
							img(src="./img/r-1.svg", alt="")
						.rating__numbers 
							span 4,8
							span из 5
						.rating__stars 
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
						.rating__summ 1 256 отзывов
					.rating__item 
						.rating__pic
							img(src="./img/r-1.svg", alt="")
						.rating__numbers 
							span 120+
							span /2-
						.rating__stars 
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
							.rating__star 
								img(src="./img/star.svg", alt="")
						.rating__summ 1 256 отзывов
		section.public-people 
			.container 
				h2.h2 Нам доверяют <span>звёзды</span>
				.public-people__info 
					.public-people__info-block 
						.public-people__title <span>Шатилова</span> <br>Анна Николаевна
						.public-people__text Советский и российский диктор телевидения, теле- и радиоведущая, актриса, народная артистка РСФСРС 
						.public-people__video
							img(src="./img/p-people-video.webp", alt="")
							.video-play-second
								img(src="./img/play-2.svg", alt="")
		section.reports#reports 
			.container 
				.title.title--center 
					h2.h2 Отзывы <span>пациентов</span>
					.small-title которые восстановили зубы по методу <span>All-on-4</span>
				.reports-slider 
					.swiper-wrapper 
						.swiper-slide.report-slide
							.report-slide__trigger
							.report__video
								video( src="./video.mp4" poster="./img/poster.webp")
							.report__play
								.report__circle
								.report__play-ico
									img(data-src="./img/play.svg" src="", alt="")
							.report__message
								.report__message-ico
									img(data-src="./img/message-ico.svg" src="", alt="")
								.report__message-text Сейчас <span>я совершенно другой человек!</span>
							a.all-video(href="#") 
								| Cмотреть на
								.all-video__pic
									img.all-video-active(data-src="./img/yt-button.svg" src="", alt="")
									img.all-video-hover(data-src="./img/yt-button-hover.svg" src="", alt="")
							.slider__close 
								img(data-src="./img/close.svg" src="", alt="")
						.swiper-slide.report-slide
							.report-slide__trigger
							.report__video
								video(src="./video.mp4" poster="./img/poster-2.webp")
							.report__play
								.report__circle
								.report__play-ico
									img(data-src="./img/play.svg" src="", alt="")
							.report__message
								.report__message-ico
									img(data-src="./img/message-ico.svg" src="", alt="")
								.report__message-text Сейчас <span>я совершенно другой человек!</span>
							a.all-video(href="#") 
								| Cмотреть на
								.all-video__pic
									img.all-video-active(data-src="./img/yt-button.svg" src="", alt="")
									img.all-video-hover(data-src="./img/yt-button-hover.svg" src="", alt="")
							.slider__close 
								img(data-src="./img/close.svg" src="", alt="")
						.swiper-slide.report-slide
							.report-slide__trigger
							.report__video
								video(src="./video.mp4" poster="./img/poster-3.webp")
							.report__play
								.report__circle
								.report__play-ico
									img(data-src="./img/play.svg" src="", alt="")
							.report__message
								.report__message-ico
									img(data-src="./img/message-ico.svg" src="", alt="")
								.report__message-text Сейчас <span>я совершенно другой человек!</span>
							a.all-video(href="#") 
								| Cмотреть на
								.all-video__pic
									img.all-video-active(data-src="./img/yt-button.svg" src="", alt="")
									img.all-video-hover(data-src="./img/yt-button-hover.svg" src="", alt="")
							.slider__close 
								img(data-src="./img/close.svg" src="", alt="")
						.swiper-slide.report-slide
							.report-slide__trigger
							.report__video
								video(src="./video.mp4" poster="./img/poster-4.webp")
							.report__play
								.report__circle
								.report__play-ico
									img(data-src="./img/play.svg" src="", alt="")
							.report__message
								.report__message-ico
									img(data-src="./img/message-ico.svg" src="", alt="")
								.report__message-text Сейчас <span>я совершенно другой человек!</span>
							a.all-video(href="#") 
								| Cмотреть на
								.all-video__pic
									img.all-video-active(data-src="./img/yt-button.svg" src="", alt="")
									img.all-video-hover(data-src="./img/yt-button-hover.svg" src="", alt="")
							.slider__close 
								img(data-src="./img/close.svg" src="", alt="")
						.swiper-slide.report-slide
							.report-slide__trigger
							.report__video
								video( src="./video.mp4" poster="./img/poster-5.webp")
							.report__play
								.report__circle
								.report__play-ico
									img(data-src="./img/play.svg" src="", alt="")
							.report__message
								.report__message-ico
									img(data-src="./img/message-ico.svg" src="", alt="")
								.report__message-text Сейчас <span>я совершенно другой человек!</span>
							a.all-video(href="#") 
								| Cмотреть на
								.all-video__pic
									img.all-video-active(data-src="./img/yt-button.svg" src="", alt="")
									img.all-video-hover(data-src="./img/yt-button-hover.svg" src="", alt="")
							.slider__close 
								img(data-src="./img/close.svg" src="", alt="")
					.swiper-pagination
					//- .slider-next
					//- 	img(src="./img/arrow-right.svg", alt="")
					//- .slider-prev
					//- 	img(src="./img/arrow-left.svg", alt="")
		section.prices
			.prices__circle
			.container 
				.title.prices__title
					h2.h2 Честные <br><span>цены</span>
					.prices__small-title Более 5000 пациентов <br>восстановили зубы <br>по методу <span>«All-on-4»</span> в Дантистофф
				.prices__list 
					.price
						.price__title 
							span Osstem
							img(data-src="./img/price-1.svg" src="", alt="")
						.discont-title.--red 
							span АКЦИЯ
						.price__block 
							.price__block-name Срок службы всей конструкии
							.price__block-text 10-20 лет
						.price__block 
							.price__block-name Гарантия на имплант
							.price__block-text 3 года
						.price__block 
							.price__block-name Гарантия на протез
							.price__block-text 2 года
						.price__summ
							.price__summ-title 
								img(data-src="./img/price-jaw.webp" src="", alt="")
								span цена С протезом
							.price__last-summ 
								span 240 000 ₽
							.price__new-summ 179 000 ₽
							.price__summ-description Цена акционная. Предложение ограничено
							button.btn.btn--orange.btn--white
								span Записаться
					.price.price--big
						.price-wrap
							.price__title 
								span NeoDent
								img(data-src="./img/price-2.svg" src="", alt="")
							.discont-title.--gold 
								span Дантистофф рекомендует
							.price__block 
								.price__block-name Срок службы всей конструкии
								.price__block-text 20-25 лет
							.price__block 
								.price__block-name Гарантия на имплант
								.price__block-text 4 года
							.price__block 
								.price__block-name Гарантия на протез
								.price__block-text 2 года
							.price__summ
								.price__summ-title 
									img(data-src="./img/price-jaw.webp" src="", alt="")
									span цена С протезом
								.price__numbers 399 900₽
							button.btn.btn--orange
								span Записаться
					.price
						.price__title 
							span Straumann
							img(data-src="./img/price-3.svg" src="", alt="")
						.discont-title.--silver 
							span Дантистофф рекомендует
						.price__block 
							.price__block-name Срок службы всей конструкии
							.price__block-text Бессрочно
						.price__block 
							.price__block-name Гарантия на имплант
							.price__block-text 10 лет
						.price__block 
							.price__block-name Гарантия на протез
							.price__block-text 2 года
						.price__summ
							.price__summ-title 
								img(data-src="./img/price-jaw.webp" src="", alt="")
								span цена С протезом
							.price__numbers 399 900₽
						button.btn.btn--orange.btn--white 
							span Записаться
		section.sqwiz
			.container 	
				.title.title--center 
					h2.h2 Рассчитайте <br><span>предварительную стоимость</span>
					.small-title имплантации по технологии All-on-4 за 1 минуту
					.sqwiz__title-description + получите подарок за ответы на все вопросы
				<div data-marquiz-id="62862ff8966fd2004fd56f17"></div>
		section.winner 
			.container 
				.winner__title 
					| Дантистофф — лучшая 
					p клиника 2021 года
					| в номинации 
					span «Народный выбор»
				.winner__text 	За создание эталонной систем контроля качества  по версии Комсомольской Правды
		section.contacts
			.contacts__circle
				img(data-src="./img/contacts-circle.svg" src="", alt="")
			.contacts__bottom
			.container
				.contacts__title Контакты 
				.contacts__list 
					.contact 
						.contact__pic
							img(data-src="./img/contact-1.webp" src="", alt="")
						.contact__title +7 (495) 324-44-47 
						.contact__text Звоните с 9:00 до 21:00
					.contact 
						.contact__pic
							img(data-src="./img/contact-2.webp" src="", alt="")
						.contact__title 5 клиник рядом с метро
						a.contact__text(href="#map")  Контакты и схема проезда
					.contact 
						.contact__pic
							img(data-src="./img/contact-3.webp" src="", alt="")
						.contact__title info@dantistoff.ru
						.contact__text Пишите нам
			a.contacts__scroll(href="#") 
				img(data-src="./img/scroll.svg" src="", alt="")
		section.map 
			#map
			.map__panel 
				.map__title Стоматология <br>на <span>Проспекте Мира</span>
				.map__blocks
					.map__block 
						.map__block-description Адрес клиники
						.map__block-title.map__block-title--address г. Москва, Проспект Мира, 53
					.map__block 
						.map__block-description Бесплатная консультация!
						.map__block-title +7 (495) 324-44-47
					.map__block 
						.map__block-description Станция метро
						.map__underground
							.map__block-title
								<svg class="under-ico" width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
								</svg>
								span Проспект Мира
							.map__steps 
								img(data-src="./img/step.svg" src="", alt="")
								span 5 минут от метро
					.map__block 
						.map__block-wrap
							.map__block-item
								.map__block-description Понедельник — Суббота
								.map__block-title с 08:00 до 23:00
							.map__block-item
								.map__block-description Воскресенье
								.map__block-title с 08:00 до 23:00
				.map__btns 
					button.btn.btn--orange
						span Заказть обратный звонок

	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
	<script>(function(t, p) {window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function() {Marquiz.add([t, p])})})('Inline', {id: '62862ff8966fd2004fd56f17', buttonText: 'Получить стоимость', bgColor: '#f58119', textColor: '#ffffff', rounded: true, shadow: 'rgba(245, 129, 25, 0.5)', blicked: true, height: '770'})</script>
