.footer 
  .footer-top
    .container
      a.logo(href="index.html")
        img(src="./img/logo.svg", alt="")
      .footer-top-mobile
        .socials 
          a.socials__link.--vk(href="#")
            img(src="./img/vk.svg", alt="") 
          a.socials__link.--tm(href="#")
            img(src="./img/tm.svg", alt="") 
          a.socials__link.--yt(href="#")
            img(src="./img/yt.svg", alt="")
      
        .header__contact 
          .header__contact-name 4 клиники в Москве
          a.header__contact-link(href="#") Схема проезда и контакты
        .header__contact 
          .header__contact-name +7 495 324-88-45
          a.header__contact-link(href="#") Заказать обратный звонок
      .header__btn 
        button.btn.btn--dark.btn--small 
          span Перезвоните мне
        button.btn.btn--orange.btn--small 
          span Записаться
  .footer-center
    .nav-footer
      .container
        nav.footer__nav
          a.footer__nav-link(href="#") Стоимость  
          a.footer__nav-link(href="#") О технологии «All-on-4»
          a.footer__nav-link(href="#") Истории лечения
          a.footer__nav-link(href="#") Наши работы
          a.footer__nav-link(href="#") Контакты
          a.footer__nav-link(href="#") Этапы лечения
          a.footer__nav-link(href="#") Кому подходят протезы
          a.footer__nav-link(href="#") Врачи клиники
          a.footer__nav-link(href="#") Гарантия
    .underground
      .container
        .underground__list
          .underground__item.--purple
            .underground__ico
              <svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
              </svg>
            .underground__info
              .underground__name Беговая
              .underground__address Хорошёвское шоссе, 48
          .underground__item.--orange
            .underground__ico
              <svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
              </svg>
            .underground__info
              .underground__name Проспект Мира
              .underground__address  Проспект Мира, 53
          .underground__item.--yellow
            .underground__ico
              <svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
              </svg>
            .underground__info
              .underground__name Раменки
              .underground__address Столетова, 11
          .underground__item.--orange
            .underground__ico
              <svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
              </svg>
            .underground__info
              .underground__name Академическая
              .underground__address Винокурова, 2
          .underground__item.--grey
            .underground__ico
              <svg width="21" height="15" viewBox="0 0 21 15" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5204 0.0644069L14.3438 0.0641013L10.5898 7.68494L6.70076 -0.000976562L1.37607 13.8838H0V14.999H7.53861V13.8838H6.0428L7.53861 9.5444L10.5898 14.999L13.5215 9.5444L15.0171 13.8838H13.5215V14.999H21V13.8838H19.7044L14.5204 0.0644069Z"/>
              </svg>
            .underground__info
              .underground__name Савёловская
              .underground__address Складочная, 1 стр 18
  .footer-bottom
    .container
      .fotter-bottom-wrap 
        p ООО «Дантистофф» 2012 — 2022
        img(src="./img/pay.svg", alt="")
        p Лицензия ЛО-77-01-008741
      .copyright ООО «Дантистофф» 2012 — 2022 Лицензия ЛО-77-01-004442;  ИНН: 1117746533145; ОГРН: 7704785911 Все права защищены. Без согласования с автором перепечатка и использование для контента веб-сайтов запрещены. 4 часть ГК РФ. Статья 1274. Цитирование в разумных пределах допускается с обязательным указанием имени автора и источника заимствования с обязательной Активной ссылкой.
    